* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background: #8a51fc;
}

.logo {
    width: 300px;
    display: block;
    margin: 20px auto;
}

main {
    width: 375px;
    background: #e7e5e5;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {
    color: #8e8989;
    font-weight: 400;
    font-size: 14px;

}

select,
input {
    background: #FFFFFF;
    border: 1px solid #aba7a7;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;

}

button {
    background: #4fe820;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #1b1a1a;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 10px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value,
.currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width:1000px) {
    body {
        width: 100%;

    }

    .logo {
        max-width: 200px;
    }

    main {
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    .logo {
        max-width: 150px;
    }
}

